<div class="p-3 w-75 mx-auto alert alert-danger mb-5 mt-4" *ngIf="error!=''">{{error}} </div>

<div class="row">
  <div class="col-sm-3" *ngFor="let sk of mentorList">
    <div class="card mx-auto">
      <div class="card-body">
        <img class="card-img-top" src={{sk.skillId.image}} style="widows: 100px;height:200px">
        <i class="material-icons md-36"> star </i><b>Rating : </b>{{sk.rating}}<br>

        <i class="material-icons md-36"> date_range </i> <b>Years Of Experience : </b>{{sk.yearsOfExperience}}<br>

        <i class="material-icons md-36"> check_circle_outline </i><b>Trainings Deliverd
          :</b>{{sk.trainingdelivered}}<br>

        <i class="material-icons md-36">how_to_reg</i> <b>Facilities Offered: </b>{{sk.facilitiesOffered}}<br>

        <i class="material-icons md-36"> person_outline </i><b>Mentor Name: </b>{{sk.mentorId.mentorName}}<br>

        <i class="material-icons md-36"> phone_iphone </i><b>Mentor Contact :</b>{{sk.mentorId.mentorContact}}<br>

        <i class="material-icons md-36"> link </i> <b>LinkedInUrl : </b>{{sk.mentorId.linkedinUrl}}<br>

        <i class="material-icons md-36"> mail </i><b>Email : </b>{{sk.mentorId.email}}<br>

        <i class="material-icons md-36"> calendar_today</i><b>Years Of Experience :
        </b>{{sk.mentorId.yearsOfExperience}}
      </div>
      <div *ngIf="this.authService.loggedIn">
        <button type="button" class="btn button-color text-light"
          (click)="book(sk.mentorId.mentorName,this.authService.username,sk.skillId.skillName)">Book</button>
      </div>
    </div>
  </div>
</div>